<div class="container mt-4" style="display: flex; flex-direction: column; align-items: center; gap: 1.5rem;">
    <h1>Admin Page</h1>
    <h2>Current Products</h2>
</div>
<ul style="list-style-type: none; padding: 0;">
	<% @products.each do |product| %>
		<li>
            <div class="card" style="min-width: 40vw;">
                <div class="card-body d-flex align-items-center justify-content-between" style="gap: 1rem;">
                    <div class="d-flex align-items-center" style="gap: 1rem;">
                        <img src="<%= product.image_url %>" alt="<%= product.name %>" style="max-width: 48px; max-height: 48px;">
                        <div>
                            <strong><%= product.name %></strong> $<%= product.price %><br>
                        </div>
                    </div>
                    <form action="<%= product_path(product) %>" method="post" style="margin: 0;" data-turbo="false">
                        <input type="hidden" name="_method" value="delete">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <button type="submit" class="btn btn-danger">
                            <span class="material-symbols-rounded">delete</span>
                        </button>
                    </form>
                </div>
            </div>
		</li>
	<% end %>
    <li>
        <div class="card" >
            <a href="<%= new_product_path %>" class="btn btn-success">
                New Product
            </a>
        </div>
    </li>
</ul>
