<div class="container mt-4" style="text-align: center; width: 80vw;">
    <h2>Products</h2>
    <p>Check out some of our products below:</p>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
            <% @products.each do |product| %>
                <div class="col">
                    <div class="card h-100" style="width: 192px;">
                        <img src="<%= product.image_url %>" class="card-img-top img-fluid" alt="<%= product.name %>" style="margin-left: auto; margin-right: auto; aspect-ratio: 1/1; width: 100%; max-width: 128px; height: auto; object-fit: contain;">
                        <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                            <div>
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text"><%= product.description %></p>
                            </div>
                            <p class="card-text mt-auto"><strong>$<%= product.price %></strong></p>
                        </div>
                        <div class="card-footer">
                                <% cart_item = @cart.cart_items.find { |item| item.product_id == product.id } if @cart %>
                                <% if cart_item %>
                                    <div class="d-flex align-items-center justify-content-between" style="gap: 0.5rem;">
                                        <form action="<%= remove_one_from_cart_path %>" method="post" style="display: inline;" data-turbo="false">
                                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                            <%= hidden_field_tag :product_id, product.id %>
                                            <button type="submit" class="btn btn-outline-danger">-</button>
                                        </form>
                                        <span><%= cart_item.quantity %></span>
                                        <form action="<%= add_to_cart_path %>" method="post" style="display: inline;" data-turbo="false">
                                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                            <%= hidden_field_tag :product_id, product.id %>
                                            <button type="submit" class="btn btn-outline-success">+</button>
                                        </form>
                                        <form action="<%= remove_from_cart_path %>" method="post" style="display: inline;" data-turbo="false">
                                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                            <%= hidden_field_tag :product_id, product.id %>
                                            <button type="submit" class="btn btn-danger ms-2">
                                                <span class="material-symbols-rounded">delete</span>
                                            </button>
                                        </form>
                                    </div>
                                <% else %>
                                    <form action="<%= add_to_cart_path %>" method="post" data-turbo="false">
                                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                        <%= hidden_field_tag :product_id, product.id %>
                                        <button type="submit" class="btn btn-primary w-100">
                                            <span class="material-symbols-rounded">add_shopping_cart</span>
                                        </button>
                                    </form>
                                <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-4">
                <% if @page > 1 %>
                    <li class="page-item">
                        <%= link_to 'Previous', page_path('store', page: @page - 1), class: 'page-link' %>
                    </li>
                <% else %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                <% end %>
                <% (1..@total_pages).each do |p| %>
                    <li class="page-item <%= 'active' if p == @page %>">
                        <%= link_to p, page_path('store', page: p), class: 'page-link' %>
                    </li>
                <% end %>
                <% if @page < @total_pages %>
                    <li class="page-item">
                        <%= link_to 'Next', page_path('store', page: @page + 1), class: 'page-link' %>
                    </li>
                <% else %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                <% end %>
            </ul>
        </nav>
</div> 